@font-face {
  font-family: "Cards";
  src: url(font.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.card {
  height: 350px;
  width: 200px;
  border: 1px solid black;
  border-radius: 12px;
  position: relative;
  /* background: rgba(0, 0, 0, 1); */
  background: #fbde04;

  background-image: linear-gradient(to bottom right, #76ffe6, #a19eff);
  /* color: white; */
  transition: all 1s;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 10px 10px;
}

.top-left,
.text-center,
.bottom-right {
  position: absolute;
  font-size: 30px;
}

.top-left {
  top: 10px;
  left: 10px;
}

.text-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Cards;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}
